<html>
    <body>
        <h1>Your order #{{id}} is finished</h1>
        <p>The order is finished and {{#targetTimeSelected}}ready for pickup at {{targetTime}}.{{/targetTimeSelected}}{{^targetTimeSelected}}ready for immediate pickup.{{/targetTimeSelected}}</p>
        <h2>Order summary:</h2>
        <table style="margin-left: 20px;">
            <tbody>
            {{#items}}
                <tr>
                    <td>
                        &#8226; <strong>{{type}}</strong> <i>{{name}}</i>
                    </td>
                    <td style="padding-left: 10px">{{times}}x</td>
                    <td style="padding-left: 10px">{{price}}Kč</td>
                </tr>
            {{/items}}
            </tbody>
        </table>
        <br/>
        {{#targetTimeSelected}}
            <p>You selected preferred pickup time {{targetTime}}.</p>
        {{/targetTimeSelected}}
        <h4>Total price: {{price}}Kč {{#takeaway}}<small>incl. takeaway</small>{{/takeaway}}</h4>
        <p>You can see more details including current status <a href="{{{details_link}}}">at this link.</a><br/>
    </body>
</html>