<html>
    <head>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    </head>
    <body>
        <h1>Welcome to Foodoo project</h1>
        <p>Your cat <strong>{{catname}}</strong> is ready for pickup. It is <i>{{status}}</i> and will be waiting for you until {{date}}.</p>
        <h2>Formatting examples</h2>
        <p class="text-muted">Muted text</p>
    </body>
</html>